@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;1,100&family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Permanent+Marker&family=Poiret+One&display=swap');

body {
    background-color: rgb(119, 167, 152);
}

.nav, .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    width: 100%;

}
.nav-links {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    justify-content: flex-end;
    align-content: space-between;
    color: navy;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 1900px;
    width: 100%;

}
.hero {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;

}
.banner {
        flex-direction: row;
        font-size: 25px;
        width: 70%;
        margin: auto;
    }
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    color: navy;
    margin: auto;
    text-align: center;
}
.bandw {
    border-radius: 70%;
    /* display: flex; */
    height: 400px;
    margin: 50px 50px 50px 225px;
    justify-content: space-around;
    flex-direction: row-reverse;
    box-shadow: 0px 0px 5px 0px;

}
 .skills {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    font-style: italic;


}
h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    margin: 10px;
    color: navy;
}
.skill-logos {
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-around;
    width: 95%;
    margin: 15px;
}

.about {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 95%;
    font-size: 22px;
    font-style: italic;
    margin: 10px;
    color: navy;
 

}
.headline-and-philo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 20px 5px 20px;
    color: navy;
}

.resume {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: navy;
}


.flip-box {
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    height: 500px;
    width: 95%;
    margin: 15px 15px 25px 15px;

}

.flip-box-inner {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 400px;
    transform-style: preserve-3d;
    transition: all .05 ease;
    margin: 10px;
    border: 1px solid navy;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10%;
    background-color: rgb(3, 34, 91);
    font-size: 22px;
}



.flip-box-front, .flip-box-front1,.flip-box-front2,.flip-box-front3 {
    font-size: 22px;
    font-style: italic;
    color: azure;
    margin: auto;
    padding: 10px;
    border-radius: 20%;
    text-align: center;
   

}
h5 {
    text-align: center;
    font-size: 22px;
}
.git-profile {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 150px;
    margin: auto;
    background-color: orangered;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20%;

}
a:link {
    color: whitesmoke;
}

.contact-wrap {
    height: 500px;
    width: 100%;
  
}

.contact, form {
    display: flex;
    flex-direction: row;

}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 50px;
    height: 100px;
    justify-content: space-between;
    
}
#name, #lname, #email, #phone {
    display: flex;
    flex-direction: column;
    height: 30px;
    margin: 10px 10px 10px 10px;
    border: 2px solid navy;
    background-color: whitesmoke;
}

#message-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    width: 450px;
    margin: 50px;
    background-color: whitesmoke;

}
button {
    height: 50px;
    width: 200px;
    margin: 10px 0 10px 55px;

}

h2 {
    display: flex;
    display: row;
    justify-content: center;
    height: 250px;
    width: 30%;
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;

}
.footer{
    display: flex;
    flex-direction: column;
    
}
.social_logos {
    display: flex;
    display: row;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: auto;
}
#quote {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    color: navy;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        background-color: rgb(129, 189, 180);

    }
    .nav {
        width: 100%;
    }
    .hero{
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 100%;
    }
    .main-container{
    }
    .banner {
    }
    .bandw {
        margin: 50px 50px 50px 50px;
    }
    .skills {
    }
    .logos {
    }
    
    .about {
    }
    .headline-and-philo {
        height: 300px;
        font-size: small;
    }
    .resume {
    }
    .flip-box {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 75%;
        margin: none;
    }
    .flip-box-inner {
        width: 300px
    }
    .git-profile {
        
    }
    .contact, form {
        display: flex;
        flex-direction: column;
    
    }
    .contact-form {
    
    }
    #message-box {
       margin: auto;
    }
    #get-in-touch, h2 {
        margin: auto;
    }
    .footer {
       height: none;
    }
    #quote {
        font-size: 0px;
    }
  }